<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <base href="https://asunaxran.github.io/vongquaymayman/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <title>Game 2- Vòng quay may mắn</title>

    <!-- Game CSS -->
    <link rel="stylesheet" href="https://asunaxran.github.io/vongquaymayman/css/style.css">

    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

    <!--lodash.js -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>

    <script>
        // load template and apply data model
        function processTemplate(selectorId, dataModel) {
            var templateContent = $('#' + selectorId).html().trim();
            var compiledTemplate = _.template(templateContent);
            return dataModel != null ? compiledTemplate(dataModel) : compiledTemplate({});
        }
    </script>

    <!--lscache.js -->
    <script src="https://cdn.jsdelivr.net/npm/lscache@1.3.2/lscache.min.js"></script>

    <style>
        #personal_interests > input{
            padding: 3px;
        }
    </style>
</head>

<body>

    <div id="app">
        <div class="frame">
            <div class="box-square">
                <div class="box-content">
                    <div id="wheel">
                        <img id="wheel-check" src="imgs/img_vongquay.png" alt="Vòng quay">
                        <a href="#" id="turn-btn">
                            <img id="turn-img" src="imgs/btn_quay.png" alt="Quay">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // (1) CDP_EVENT_OBSERVER: load JavaScript code for [Game: Vòng quay may mắn]
        (function () {
            // Observer ID
            window.cdpObserverId = "4KaMq3UZcLbx7HMoK5fgYL";

            // CDN of JS
            window.cdpObserverBaseUrl = "https://datahub4dcdp.bigdatavietnam.org";
           
            // Data Touchpoint Metadata 
            window.srcTouchpointName = encodeURIComponent(document.title) ;
            window.srcTouchpointUrl = encodeURIComponent(location.href);

            window.onCdpJsReady = function(){
                console.log("CDP JS is Ready");
                CdpObserver.trackPageView();
            }
           
            var cdpObserverJs = "https://example.com/game-tracking/cdp.observer.js";
            var jsNode = document.createElement('script');
            jsNode.async = true;
            jsNode.defer = true;
            jsNode.src = cdpObserverJs;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(jsNode, s);
        }
        )();
    </script>

    <!-- Game -->
    <script>

        var phone = '', firstName = '';
        
        var currentDeg = 0;
        var prevDeg = 0;
        var randDeg = 0;
        var turns = 0;
        var transDuration = 3;

        const gifts = [
            "Yamaha Exciter 150GP 2019",
            "Chúc bạn may mắn lần sau!",
            "50.000 VND voucher PNJ",
            "Xiaomi Redmi S2 64GB",
            "100.000 VND voucher PNJ ",
            "500.000 VND voucher PNJ",
            "10.000 VND voucher PNJ",
        ];

        function onGameHtmlReady() {
            console.log("game loaded");
            // Game loaded
            CdpObserver.recordEventGameLoaded(parseDataUTM());
        }

        // CDP EVENT OBSERVER is ready
        function leoObserverProxyReady(session) {
            // auto tracking page-view when CDP JS is ready
            CdpObserver.recordEventPageView(parseDataUTM());
            // simulate game loaded
            setTimeout(function () {
                $("#wheel-check").ready(onGameHtmlReady);
            }, 2000)
        }

        function trackGetGift(event) {
            console.log('tracking trackGetGift event ' + event)
            CdpObserver.recordEventSubmitContact(event)
        }

        function loadSession(){
            firstName = lscache.get('firstName') || '';
            phone = lscache.get('phone') || '';
        }

        function setupUserLogin() {
            doLogin()
        }

        function doLogin() {
            if (isReadyToPlay()) {
                return;
            }

            // Handle login form submission
            Swal.fire({
                title: 'Đăng nhập',
                html: processTemplate('tplLoginPopup'),
                confirmButtonText: 'OK',
                focusConfirm: false,
                preConfirm: () => {
                    var form = $('#swal2-html-container');
                    firstName = form.find('input[name="name"]').val().trim();
                    phone = form.find('input[name="mobile"]').val().trim();
                    const errorMessage = "Vui lòng kiểm tra lại thông tin của bạn.";

                    // Validate inputs
                    if (!firstName || !phone || !/^[0-9]{10,15}$/.test(phone)) {
                        Swal.showValidationMessage(errorMessage);
                        return false;
                    }

                    // Return valid data
                    return { firstName, phone };
                },
            }).then((result) => {
                if (result.isConfirmed) {
                    console.log('User Data:', result.value);

                    // cache
                    lscache.set('firstName', firstName, 5);
                    lscache.set('phone', phone, 5);

                    var profileData = {
                        phone: phone,
                        firstName: firstName
                    };
                    CdpObserver.recordEventUserLogin(profileData);
                }
            });
        }

        function playGame() {
            if (!isReadyToPlay()) {
                Swal.fire({
                    icon: "error", title: "Lỗi", text: "Vui lòng đăng nhập!",
                });
                return;
            }

            currentDeg += Math.floor(Math.random() * 10000) + 500;
            turns = Math.floor((currentDeg - prevDeg) / 360);
            prevDeg = currentDeg;
            transDuration = turns / 10 + 2;
            $("#wheel-check").css({
                transform: "rotate(" + currentDeg + "deg)",
                "transition-duration": transDuration + "s",
            });
            setTimeout(() => {
                showVoucherAwarded(currentDeg)
            }, transDuration * 1000 + 500);
        }

        function isReadyToPlay() {
            return firstName !== '' && phone !== '';
        }

        function showVoucherAwarded(currentDeg) {
            if (!isReadyToPlay()) {
                return;
            }

            // get gift
            var gift = getGift(currentDeg % 360);
            if (gift == null) {
                Swal.fire({
                    title: "Kết quả",
                    text: "Chúc bạn may mắn lần sau!",
                    icon: "success"
                });
                return;
            }
            var model = { 'gift': gift, 'name': firstName }
            console.log('showVoucherAwarded model ', model)

            Swal.fire({
                title: 'Kết quả',
                html: processTemplate('tplGetGiftPopup', model),
                confirmButtonText: 'OK',
                focusConfirm: false,
                preConfirm: () => {

                    // collect extra data for profile enrichment
                    var gender = $('#gender').val().trim();
                    var livingCity = $('#livingCity').val().trim();
                    var livingDistrict = $('#livingDistrict').val().trim();
                    var personalInterests = [];
                    $('input[name="personal_interests"]:checked').each(function() {
                      personalInterests.push($(this).val());
                    });

                    const errorMessage = "Vui lòng kiểm tra lại thông tin của bạn.";

                    // Validate inputs
                    if (livingCity === '' || livingDistrict === '') {
                        Swal.showValidationMessage(errorMessage);
                        return false;
                    }

                    var profileData = {
                        phone: phone,
                        firstName: firstName,
                        livingDistrict: livingDistrict,
                        livingCity: livingCity,
                        personalInterests: JSON.stringify(personalInterests),
                        gift: gift // code to join event 
                    };
                    return profileData;
                },
            }).then((result) => {
                if (result.isConfirmed) {
                    console.log('User Data:', result.value);
                    trackGetGift(result.value);
                }
            });trợ
        }

        // Function to get gift
        function getGift(val) {
            let selectedGift = null;

            if ((val >= 0 && val <= 10) || (val >= 321 && val <= 370)) {
                selectedGift = gifts[0];
            } else if (val >= 11 && val <= 61) {
                selectedGift = null; // Example of using variable
            } else if (val >= 62 && val <= 113) {
                selectedGift = gifts[2];
            } else if (val >= 114 && val <= 164) {
                selectedGift = gifts[3];
            } else if (val >= 165 && val <= 216) {
                selectedGift = gifts[4];
            } else if (val >= 217 && val <= 267) {
                selectedGift = gifts[5];
            } else if (val >= 268 && val <= 320) {
                selectedGift = gifts[6];
            } else {
                selectedGift = gifts[0];
            }
            return selectedGift;
        }

        function setupGame() {
            loadSession();
            setupUserLogin();

            $("#turn-btn").click(function (e) {
                e.preventDefault();
                playGame()
            });
        }

        $(document).ready(setupGame);

    </script>

    <!--  Login Form -->
    <script id="tplLoginPopup" type="text/x-handlebars-template">
        <form id="login-form">
            <label for="name">Tên:</label>
            <input type="text" name="name" required placeholder="Nhập tên của bạn" /><br><br>

            <label for="mobile">Số điện thoại:</label>
            <input type="tel" name="mobile" required placeholder="Nhập số điện thoại" /><br><br>
        </form>
    </script>

    <!--  get-gift Form -->
    <script id="tplGetGiftPopup" type="text/x-handlebars-template">

        <h3 style="padding: 10px; background-color: bisque;"> <%= gift %> </h3>

        <div style="width: 100%;">
            <h4 style="padding: 15px;"> Chúc mừng <%= name %>, bạn vui lòng điền thêm thông tin để nhận thưởng </h4>
        
            <form id="get-gift--form" >

                <label for="gender">Giới tính:</label>
                <select name="gender" id="gender" style="width: 100%; padding: 10px; margin-bottom: 10px;">
                    <option value="">Chọn</option>
                    <option value="male">Nam</option>
                    <option value="female">Nữ</option>
                    <option value="other">Khác</option>
                </select>
                <br><br>

                <!-- Thành phố -->
                <label for="city">Thành phố</label>
                <select  id="livingCity" style="width: 100%; padding: 10px; margin-bottom: 10px;">
                    <option value="">--- Chọn Thành phố ---</option>
                    <option value="hcm"> TP.HCM </option>
                    
                    <!-- Add more options dynamically if needed -->
                </select>
                <br><br>

                <!-- Quận -->
                <label for="district">Quận</label>
                <select id="livingDistrict" style="width: 100%; padding: 10px; margin-bottom: 10px;">
                    <option value="">--- Chọn Quận ---</option>
                    <option value="1"> Quận 1 </option>
                    <option value="2"> Quận 2 </option>
                    <option value="2"> Quận 3 </option>
                    <option value="2"> Quận 4 </option>
                    <option value="2"> Quận 5 </option>
                    <option value="2"> Quận 6 </option>
                    <!-- Add more options dynamically if needed -->
                </select>
                <br><br>

                <label for="personal_interests">Sở thích cá nhân:</label>
                <div id="personal_interests" style="width: 100%; padding: 10px; text-align: left;">
                    <label>
                        <input type="checkbox" name="personal_interests" value="invest"> Đầu tư vàng và chứng khoán
                    </label><br>
                    <label>
                        <input type="checkbox" name="personal_interests" value="beauty"> Làm đẹp
                    </label><br>
                    <label>
                        <input type="checkbox" name="personal_interests" value="reading"> Đọc sách
                    </label><br>
                    <label>
                        <input type="checkbox" name="personal_interests" value="traveling"> Du lịch
                    </label><br>
                    <label>
                        <input type="checkbox" name="personal_interests" value="cooking"> Nấu ăn
                    </label><br>
                    <label>
                        <input type="checkbox" name="personal_interests" value="sports"> Chơi thể thao
                    </label><br>
                    <label>
                        <input type="checkbox" name="personal_interests" value="music"> Nghe nhạc
                    </label><br>
                    <label>
                        <input type="checkbox" name="personal_interests" value="other"> Khác
                    </label><br>
                </div>
                
            </form>
        </div>
    </script>
</body>

</html>